#container-ongs .container-filho {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container-ongs {
  padding: 40px 0;
  background-color: var(--cor-um);

  color: var(--cor-dois);
  display: flex;
  justify-content: center;
  align-items: center;
}

#ongs {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ong {
  background-color: var(--cor-dois);
  position: absolute;
  width: 150px;
  height: 90px;

  transition: 0s; /*transção*/

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  text-align: justify;

  cursor: pointer;
}

.ong img {
  height: 90%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

#proxima-ong,
#anterior-ong {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90px;
  height: 100%;
  right: 0px;
  img {
    width: 80px;
  }
  z-index: 1;
}

#anterior-ong {
  left: 0px;
}

.container-ongs2 {
  width: 100%;
  background-color: var(--cor-um);
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 0px;
  transition: 1s;
}

.container-ongs2 .container-filho {
  height: 100%;
  width: 90%;

  display: flex;
  justify-content: center;

  overflow: hidden;
  position: relative;
}

.container-ongs2 .container-filho .ong2 {
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: absolute;
}

.sumir-ong2 {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 90px;
  height: 300px;
  right: 0px;
  img {
    width: 80px;
  }
}

.ong2-div1 {
  background-color: var(--cor-dois);
  display: flex;
  padding: 20px;
  gap: 20px;
}

.ong2-div2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botao-ong2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  background-color: var(--cor-dois);
  color: var(--cor-quatro);
}

.texto-ong2 {
  font-size: 20px;
  text-align: justify;
}

.ong2-div2 img {
  width: 400px;
  height: 60%;
  object-fit: contain;
}

/*//////////////////////////////////////////////////////////////*/

@media (max-width: 425px) {
  #container-ongs {
    width: 425px;
  }

  #proxima-ong,
  #anterior-ong {
    width: 40px;
    height: 80px;
  }

  .container-ongs2 {
    width: 425px;
  }

  .ong {
    width: 70px;
    height: 60px;
  
    padding: 10px;
  }

  .ong img {
    aspect-ratio: 12 / 9;
  }

  .container-ongs2 .container-filho .ong2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sumir-ong2 {
    margin-left: 0px;
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    bottom: 40px;
    img {
      width: 40px;
    }
  }
  
  .ong2-div1 {
    background-color: var(--cor-dois);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 460px;
  }
  
  .ong2-div2 {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .botao-ong2 {
    width: 100%;
    height: 40px;
    font-weight: 800;
    font-size: 20px;
    background-color: var(--cor-dois);
    color: var(--cor-quatro);
  }
  
  .texto-ong2 {
    font-size: 15px;
  }
  
  .ong2-div2 img {
    width: 100%;
    height: 100px;
  }
}
