#container-racismo-ambiental {
    padding: 100px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-um);
    color: var(--cor-dois);
}

.container-filho {
    width: 90%;
}
.container-texto {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
}

.container-faixa {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
