body{
    background-color: var(--cor-um);
}

#container-noticias {
    width: 100%;
    background-color: var(--cor-um);
    display: grid;
    gap: 60px;
}

.container-noticia {
    width: 100%;
}

.container-banner {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.titulo {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: var(--cor-dois);
}

.container-conteudo {
    display: flex;
    justify-content: center;
}

.container-filho {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 20px;
}

.conteudo-texto {
    padding: 15px;
    background-color: var(--cor-quatro);
    text-align: justify;
    font-size: 20px;
    color: var(--cor-dois);
}

.conteudo-imagem {
    background-repeat: no-repeat;
    background-size: cover;
}

/* NOTICIA 01 NOTICIA 01 NOTICIA 01 NOTICIA 01 NOTICIA 01 NOTICIA 01 */

#n01 {
    grid-template-areas:

    "t01 t03 t03 t03"
    "t01 t03 t03 t03"
    "t01 t03 t03 t03"
    "t01 m02 m02 r01"

    "t04 t04 t04 t04"
    "t04 t04 t04 t04"

    "r02 r04 r03 m01"
    "t02 t02 t02 t02"

}

#t01 {
    grid-area: t01;
}

#t02 {
    grid-area: t02;
}

#t03 {
    grid-area: t03;
}

#t04 {
    grid-area: t04;
}

#m01 {
    grid-area: m01;
}

#m02 {
    grid-area: m02;
}

#r01 {
    grid-area: r01;
}

#r02 {
    grid-area: r02;
}

#r03 {
    grid-area: r03;
}

#r04 {
    grid-area: r04;
}

/* NOTICIA 02 NOTICIA 02 NOTICIA 02 NOTICIA 02 NOTICIA 02 NOTICIA 02 */

#n02 {
    grid-template-areas:

    "t11 t11 t12 t12"
    "t11 t11 t12 t12"
    "t11 t11 t12 t12"
    
    "t13 t13 t13 r12"
    "t13 t13 t13 r12"
    "t13 t13 t13 r11"
    "r13 m12 m12 r11"
    "r13 m11 m11 m11"

}

#t11 {
    grid-area: t11;
}

#t12 {
    grid-area: t12;
}

#t13 {
    grid-area: t13;
}

#m11 {
    grid-area: m11;
}

#m12 {
    grid-area: m12;
}

#r11 {
    grid-area: r11;
}

#r12 {
    grid-area: r12;
}

#r13 {
    grid-area: r13;
}

/* NOTICIA 03 NOTICIA 03 NOTICIA 03 NOTICIA 03 NOTICIA 03 NOTICIA 03 */

#n03 {
    grid-template-areas:

    "m21 m21 t21 t21"
    "t22 t22 m22 m22"
    "t23 t23 m22 m22"

}

#t21 {
    grid-area: t21;
}

#t22 {
    grid-area: t22;
}

#t23 {
    grid-area: t23;
}

#m21 {
    grid-area: m21;
}

#m22 {
    grid-area: m22;
}

/* NOTICIA 04 NOTICIA 04 NOTICIA 04 NOTICIA 04 NOTICIA 04 NOTICIA 04 */

#n04 {
    grid-template-areas:

    "t32 m32 m32 m32"
    "t31 t31 t34 t34"
    "m31 m31 t33 t33"

}

#t31 {
    grid-area: t31;
}

#t32 {
    grid-area: t32;
}

#t33 {
    grid-area: t33;
}

#t34 {
    grid-area: t34;
}

#m31 {
    grid-area: m31;
}

#m32 {
    grid-area: m32;
}

/* NOTICIA 05 NOTICIA 05 NOTICIA 05 NOTICIA 05 NOTICIA 05 NOTICIA 05 */ 

#n05 {
    grid-template-areas:

    "t41 t41 t43 t43"
    "m42 m42 t43 t43"

    "t42 t42 t42 t42"

    "t44 t44 t44 t44"
    
    "m41 m41 m41 r44"
    "r42 r42 r42 r44"
    "r41 r43 r43 r44"
    "r41 r43 r43 r45"
    "r41 m43 m43 m43"
    "r41 m43 m43 m43"
}

#t41 {
    grid-area: t41;
}

#t42 {
    grid-area: t42;
}

#t43 {
    grid-area: t43;
}

#t44 {
    grid-area: t44;
}

#r41 {
    grid-area: r41;
}

#r42 {
    grid-area: r42;
}

#r43 {
    grid-area: r43;
}

#r44 {
    grid-area: r44;
}

#r45 {
    grid-area: r45;
}

#m41 {
    grid-area: m41;
}

#m42 {
    grid-area: m42;
}

#m43 {
    grid-area: m43;
}

footer {
    margin-top: 60px;
}